<header>
    <a href="#" class="logo">Santiago Castillo</a>
    <nav class="navbar">
        <a href="">Inicio</a>
        <a href="">Sobre mi</a>
        <a href="">Educaciòn</a>
        <a href="">Habilidades</a>
        <a href="">Contacto</a>
    </nav>
</header>