<header>
    <span id="burger-menu">&#9776; Menu</span>
    <nav>
        <a href="/">Inicio</a>
        <a href="/contacto">Contacto</a>
        <a href="/perfil">Mi Perfil</a>
        
    </nav>
</header>