<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <%- include('./partials/header.ejs') %>

<h1> links con contactos;
  <li>
    <ul>numero de telefono</ul>
    <ul>mail</ul>
    <ul>perfil de linkedin</ul>
    <ul>perfil de gtihub</ul>
  </li>
</h1>
</body>
</html>
