<header>
    <a href="#" class="logo">Castillo.</a>
   <div class="bx bx-menu" id="menu-icon"></div>
    <nav class="navbar">
        <a href="" class="active">Inicio</a>
        <a href="">Educaciòn</a>
        <a href="">Experiencia</a>
        <a href="">Contacto</a>
    </nav>
</header>