<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Castillo</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="form">
           <h3>Perfil</h3>
            <div class="cont">
                 <a href="/perfil"> <button>Ver más </button></a>
            </div>
       
            
    </div>

    <div class="form">
        <h3>Contacto</h3>
         <div class="cont">
              <a href="/contacto"> <button>Ver más </button></a>
         </div>
    
         
 </div>
    
 
</body>
</html>

