<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santiago Castillo</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
<body>
    <header><%- include('./header.ejs') %></header>

    <section class="home" id="home">
      <div class="home-content">
        <h1>Hola, soy <span>Santiago Castillo</span></h1>
        <div class="text-animate">
          <h3>Desarrollador Full Stack Jr.</h3>
        </div>
        <p>
          Tengo un enfoque apasionado en fusionar creatividad y tecnología para
          crear experiencias web excepcionales. Mi trayectoria incluye
          participación en proyectos en Digital House, donde fortalecí mis
          habilidades técnicas y mi capacidad para trabajar en equipo de manera
          innovadora. Siempre estoy buscando oportunidades para aprender,
          contribuir y crecer en el campo del desarrollo web.
        </p>
        <div class="btn-box">
          <a href="" class="btn">Sobre mí</a>
          <a href="" class="btn">Contacto</a>
        </div>
      </div>

      <div class="home-sci">
        <a href="https://github.com/santiagocastillo01"
          ><i class="bx bxl-github"></i
        ></a>
        <a href="https://www.linkedin.com/in/santiagocastillo01/"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
      </div>

    </section>

    <section class="about" id="about">
      <h2 class="heading">Sobre <span>Mì</span></h2>

      <div class="about-img">
        <img src="img/img-perfil.png" alt="" />
        <span class="circle-spin"></span>
      </div>

      <div class="about-content">
        <h3>Desarrollador Full Stack Jr.</h3>
        <p>
          Estudié en Digital House donde adquirí habilidades en JavaScript,
          HTML, CSS, Node.js y bases de datos SQL, así como el manejo de GitHub.
          Actualmente, continúo mi formación en Coderhouse, centrándome en el
          estudio de Python para ampliar mis habilidades como desarrollador.
        </p>

        <div class="btn-box btns">
            <a href="" class="btn">Ver CV</a>
        </div>
      </div>
    </section>
  
</body>
</html>
