<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Castillo</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>

<header> <%- include('./header.ejs') %> </header>  

<section class="home" id="home">
    <div class="home-content">
        <h1>Hola, soy <span>Santiago Castillo</span></h1>
        <div class="text-animate">
            <h3>Desarrollador Full Stack Jr.</h3>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, omnis. Odio, nam mollitia ullam, iste eos quidem laboriosam ipsa, accusantium praesentium veritatis non voluptatum provident ab sed?</p>
    <div class="btn-box">
            <a href="" class="btn">Sobre mí</a>
            <a href="" class="btn">Contacto</a>
    </div>
    </div>

</section>
<!-- minuto 16:05 -->

</body>
</html>

