<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santiago Castillo</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header><%- include('./header.ejs') %></header>
    
    
    <!-- INTRODUCCIÓN---------- -->
    
    
    <section class="home" id="home">
      <div class="home-content">
        <h1>Hola, soy <span>Santiago Castillo</span></h1>
        <div class="text-animate">
          <h3>Desarrollador Full Stack Jr.</h3>
        </div>
        <p>
          Tengo un enfoque apasionado en fusionar creatividad y tecnología para
          crear experiencias web excepcionales. Mi trayectoria incluye
          participación en proyectos en Digital House, donde fortalecí mis
          habilidades técnicas y mi capacidad para trabajar en equipo de manera
          innovadora. Siempre estoy buscando oportunidades para aprender,
          contribuir y crecer en el campo del desarrollo web.
        </p>
        <div class="btn-box">
          <a href="" class="btn">Sobre mí</a>
          <a href="" class="btn">Contacto</a>
        </div>
      </div>

      <div class="home-sci">
        <a href="https://github.com/santiagocastillo01"
          ><i class="bx bxl-github"></i
        ></a>
        <a href="https://www.linkedin.com/in/santiagocastillo01/"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
      </div>
    </section>
   
   
    <!-- SOBRE MÍ-------------- -->
   
   
    <section class="about" id="about">
      <h2 class="heading">Sobre <span>Mì</span></h2>

      <div class="about-img">
        <img src="img/img-perfil.png" alt="" />
        <span class="circle-spin"></span>
      </div>

      <div class="about-content">
        <h3>Desarrollador Full Stack Jr.</h3>
        <p>
          Estudié en "Digital House" donde adquirí habilidades en JavaScript,
          HTML, CSS, Node.js y bases de datos SQL, así como el manejo de GitHub.
          Actualmente, continúo mi formación en "Coderhouse", centrándome en el
          estudio de Python para ampliar mis habilidades como desarrollador.
        </p>

        <div class="btn-box btns">
          <a href="" class="btn">Ver CV</a>
        </div>
      </div>
    </section>
   
   
    <!-- EDUCACIÓN--------------  -->
   
   
    <section class="education" id="education">
      <h2 class="heading">Mi <span>Trayectoria</span></h2>

      <div class="education-row">
        <div class="education-column">
          <h3 class="title">Educación</h3>

          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bx-calendar"></i>2023 - 2024
                </div>
                <h3>Desarrollador Full Stack - Digital House</h3>
                <p>
                  He estudiado y adquirido habilidades en JavaScript, CSS, HTML,
                  EJS y bases de datos SQL. Durante mi formación, colaboré en
                  equipo para desarrollar una página web, utilizando GitHub para
                  gestionar los cambios de manera eficiente. Además, tengo
                  experiencia con Node.js y React, ampliando así mi conjunto de
                  habilidades en el desarrollo web.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="education-column">
          <h3 class="title">Experiencia</h3>

          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bx-calendar"></i>2023 - 2024
                </div>
                <h3>Desarrollador Full Stack - Digital House</h3>
                <p>
                  Desarrollé un proyecto que consistía en una página web con
                  base de datos en SQL. Implementé funcionalidades de inicio de
                  sesión y registro, utilizando cookies para almacenar los datos
                  en la base de datos. La página estaba destinada a la
                  comercialización de productos, con características que
                  incluían la capacidad de agregar productos al carrito, filtrar
                  según necesidades y ver detalles de cada producto, colaboré en
                  equipo, utilizando metodologías de trabajo ágil mediante
                  sprints semanales. Todo el seguimiento del proyecto se realizó
                  a través de GitHub, donde se subían las actualizaciones y
                  avances regularmente.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="education-column">
          <h3 class="title">Experiencia Laboral</h3>

          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bx-calendar"></i>2019 - Actualidad
                </div>
                <h3>Cajero/Vendedor - Brooksfield</h3>
                <p>
                  Experiencia como vendedor con responsabilidades en apertura y
                  cierre de local, manejo de llaves, cierre de caja utilizando
                  el sistema Quick Poss, así como gestión de ingreso y retiro de
                  mercadería.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="education-column">
          <h3 class="title">Formación Actual</h3>

          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bx-calendar"></i>2024 - Actualidad
                </div>
                <h3>Python - Coderhouse</h3>
                <p>
                  Actualmente, estoy ampliando mis conocimientos en el campo del
                  desarrollo web mediante estudios en Coderhouse, donde me estoy
                  especializando en Python. Este nuevo enfoque complementa mi
                  formación previa y me brinda la oportunidad de explorar nuevas
                  tecnologías y enfoques en el desarrollo de software.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!--     HABILIDADES------ -->
    
    
    <section class="skills" id="skills">
      <h2 class="heading">Mis <span>Habilidades</span></h2>
      <div class="skills-row">
        <div class="skills-column">
          <h3 class="title"></h3>

          <div class="skills-box">
            <div class="skills-content">
              
              <!-- 1 -->
              <div class="progress">
                <h3>HTML <span>90%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <!-- 2 -->
              <div class="progress">
                <h3>CSS <span>85%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <!-- 3 -->
              <div class="progress">
                <h3>JavaScript <span>75%</span></h3>
                <div class="bar"><span></span></div>
              </div> 
              
              <!-- 4 -->
              <div class="progress">
                <h3>Python (En progreso...) <span>&#8593; 20%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <!-- 5 -->
              <div class="progress">
                <h3>Node <span>60%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <!-- 6 -->
              <div class="progress">
                <h3>React <span>60%</span></h3>
                <div class="bar"><span></span></div>
              </div>
              
              <!-- 7 -->
              <div class="progress">
                <h3>Ejs <span>80%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <!-- 8 -->
              <div class="progress">
                <h3>MySql <span>70%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <!-- 9 -->
              <div class="progress">
                <h3>phpMyAdmin <span>70%</span></h3>
                <div class="bar"><span></span></div>
              </div>
               
              
              <!-- 10 -->
              <div class="progress">
                <h3>GitHub <span>90%</span></h3>
                <div class="bar"><span></span></div>
              </div>
             
            
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--     Contacto--------------------------- -->


    <section class="contact" id="contact">
      <h2 class="heading">¿Quieres <span>contactarme</span>?</h2>
      
      <form action="#">
        <div class="input-box">
          <div class="input-field">
            <input type="text" placeholder="Nombre" required>
            <span class="focus"></span>
          </div>
          <div class="input-field">
            <input type="text" placeholder="Email" required>
            <span class="focus"></span>
          </div>
        </div>

        <div class="input-box">
          <div class="input-field">
            <input type="number" placeholder="Numero de contacto" required>
            <span class="focus"></span>
          </div>
          <div class="input-field">
            <input type="text" placeholder="Asunto del correo electrónico" required>
            <span class="focus"></span>
          </div>
        </div>

        <div class="textarea-field">
          <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
          <span class="focus"></span>
        </div>

        <div class="btn-box btns">
          <button type="submit" class="btn">Enviar</button>
        </div>
      </form>
    </section>
<!--   footer 1:01:17 -->
  </body>
</html>
