<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Castillo</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="form">
        <h3>Santiago Castillo</h3>
        <div class="cont">
           <ul>
            <li> Mi nombre es Santiago y soy un apasionado desarrollador web con un deseo insaciable de aprendizaje y superaci贸n diaria.</li> 
            <br>
            <li> Con s贸lidos conocimientos en JavaScript, Node.js, HTML, CSS y actualmente estudiando Python, mi objetivo es fusionar creatividad y tecnolog铆a para construir experiencias web excepcionales. Me encanta enfrentar nuevos desaf铆os y convertirlos en oportunidades para expandir mis habilidades y conocimientos.</li> 
            <br>
            <li> En mi trayectoria, he participado en proyectos en el curso de Digital House, que no solo han fortalecido mis habilidades t茅cnicas, sino que tambi茅n desarrolle mejor capacidad para trabajar en equipo y abordar problemas de manera innovadora.</li> 
            <br>
            <li> Constantemente estoy inmerso en la exploraci贸n de las 煤ltimas tendencias y tecnolog铆as en el mundo del desarrollo web. Mi enfoque proactivo me impulsa a mantenerme actualizado y a buscar continuamente formas de mejorar y optimizar el c贸digo.</li> 
            <br>
            <li> Estoy abierto a oportunidades profesionales, colaboraciones y conexiones con personas apasionadas por el desarrollo web. Siempre estoy listo para aprender, contribuir y crecer.</li> 
        </ul>
        </div>
        <a href="/home"><button>
            Ver m谩s
        </button></a>
    </div>
</body>
</html>

